<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
    <link rel="stylesheet" href="/static/jquery/development-bundle/themes/base/jquery.ui.all.css">
    <link rel="stylesheet" href="/static/custom/buracostats.css">
    <script src="/static/jquery/development-bundle/jquery.js"></script>
    <script src="/static/jquery/development-bundle/ui/jquery.ui.core.js"></script>
    <script src="/static/jquery/development-bundle/ui/jquery.ui.widget.js"></script>
    <script src="/static/jquery/development-bundle/ui/jquery.ui.datepicker.js"></script>

    <script>
    $(function() {
        $( "#id_date" ).datepicker({ dateFormat:'dd/mm/yy'});
    });
    {% block script%}
    {% endblock %}

    </script>

	{% block cabecalho%}
	<title>GAME</title>
	{% endblock %}
</head>
<body>
	<a href="/">HOME</a> | <a href="/tournament">GAME<a href="/"> | <a href="/player">PLAYER<a href="/"> | <a href="/gametype">GAME TYPE</a> | <a href="/winnerpoints">WINNER POINTS</a> |
	{% block corpo%}
	<!-- body -->
	{% endblock %}
</body>
</html>